body{
    background-color: black;
}

h1{
   font-size: 3rem;
    text-transform: uppercase;
}

.poster{
    color: whitesmoke;
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

.Casablanca{
    border:solid gray 5px;
    width: 100%;
}

.Zed{
    text-align: right;
}